:root {
         --color-primary: #002E2A;
         --color-secondary: #e6b412;
}

.bg-primary {
         background-color: var(--color-primary);
}

.bg-secondary {
         background-color: var(--color-secondary);
}

.text-primary {
         color: var(--color-primary);
}

.text-black {
         color: #000
}
.text-white {
         color: #fff
}


.text-secondary {
         color: var(--color-secondary);
}

.border-primary {
         border-color: var(--color-primary);
}

.border-secondary {
         border-color: var(--color-secondary);
}

